# Ignore the following folders
build/
bin/clustering/
bin/kdtree/
bin/dual_tree_traversal/
bin/single_linkage_cluster_tree/
Testing/
.vscode/

# Ignore all files with the extension ".<ext>" in any directory
*.o
__pycache__/
